@font-face {
    font-family: 'HK Grotesk';
    src: url('font/hk-grotesk/HKGrotesk-Regular.woff2') format('woff2'),
    url('font/hk-grotesk/HKGrotesk-Regular.woff') format('woff'),
    url('font/hk-grotesk/HKGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html, body {
    overflow: hidden;
}
html {
    height: 100%;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #3DF4C9;
}
body {
    opacity: 1;
    margin: 0;
    font-family: 'HK Grotesk', Verdana, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-smoothing: grayscale;
    -webkit-transition: 0.7s opacity;
    -moz-transition: 0.7s opacity;
    -ms-transition: 0.7s opacity;
    -o-transition: 0.7s opacity;
    transition: 0.7s opacity;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body.fade {
    opacity: 0;
    transition: none;
}
a {
    color: #005f42;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}
i, .button-step, .white-button, .box-label, .click {
  cursor: pointer;
}

input, select {
    padding: 5px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: inherit;
}
.grid-area-a {
    grid-area: a;
}
.grid-area-b {
    grid-area: b;
}
.grid-area-c {
    grid-area: c;
}
.grid-area-d {
    grid-area: d;
}
.grid-area-e {
    grid-area: e;
}
.text-center {
    text-align: center;
}
.blue {
  color: #495bfd;
}
.green {
  color: #0ad18b;
}
.white {
  color: #ffffff;
}
.black {
  color: #000000;
}
.slide-right {
    -webkit-transform: translateX(300vh);
    -moz-transform: translateX(300vh);
    -ms-transform: translateX(300vh);
    -o-transform: translateX(300vh);
    transform: translateX(300vh);
}
.slide-left {
    -webkit-transform: translateX(-300vh);
    -moz-transform: translateX(-300vh);
    -ms-transform: translateX(-300vh);
    -o-transform: translateX(-300vh);
    transform: translateX(-300vh);
}
.white-button {
    background: #3df4c9;
    border: 2px solid #005f42;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: auto;
    font-weight: bold;
}
.white-button.selected {
    background: #31d2ac;
    border-color: #005f42;
    color: #000000;
}
.white-button.select {
    background: #3DF4C9;
}
.white-button p {
    text-align: center;
}
.white-button.select p {
    color: #ffffff;
}
.white-button:active {
    background: #9AF4D9;
}

.step-height {
    height: 40px;
}
.button-step {
    float: left;
    position: relative;
    width: 55px;
    background: #fff;
    margin: 0 2px;
    border: 2px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: width .9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: width .9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: width .9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: width .9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: width .9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button-step.select.clock {
    background: #FC8280;
}
.button-step.clock {
    background: #FC8280;
}
.button-step.select {
  background: #3DF4C9;
}
.button-step.disabled {
  cursor: not-allowed;
    pointer-events: none;
  opacity: 0.05;
}
.line-steps-height {
    height: 44px;
    padding-top: 25px;
    overflow: hidden;
}
.line-labels {
    position: absolute;
    width: 100%;
}

.box-label {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(20, 1fr);
    grid-template-areas: "a a a a b b b b b b b b b b b b b c d e";

    height: 25px;
    margin-bottom: 59px;
    margin-left: 7px;
    position: relative;
    width: 98%;
}
.box-label > p {
    position: relative;
    float: left;
    z-index: 2;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
    color: #005f42;
}
.box-label > p i {
    padding: 3px;
}
.box-label > .white-button {
    text-align: center;
    padding: 1px;
}

.line-units > div {
    width: 60px;
    position: relative;
    display: inline-block;
    text-align: right;
}
.line-units > div strong {
    position: absolute;
}
.line-units > div strong.right-max {
    right: -6px;
}
.line-units > div strong.right-min {
    right: -2px;
}

#edit-area, #browse-area {
    position: absolute;
    z-index: 4;
    background: #3df4c9;
    border: 2px solid #3df4c9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 16px 0;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
#edit-area {
    width: 300px;
    top: 54px;
    left: 20px;
}
#credit-area, #donate-area {
    position: absolute;
    z-index: 1001;
    left: 14px;
    padding: 6px;
    color: #005f42;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
#credit-area p, #donate-area p {
    margin: 0;
}
#credit-area {
    bottom: 75px;
}
#donate-area {
    bottom: 50px;
}
#close-navigate-area {
    text-align: center;
    color: #005f42;
}
#navigate {
    display: grid;
    opacity: 1;
    align-content: start;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "a a b b b c";

    background-color: #3df4c9;
    position: absolute;
    text-align: left;
    width: 100%;
    height: 100%;
    z-index: 1002;
    padding: 30px;

    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
#navigate > div {
    display: inline-block;
    overflow-x: hidden;
    overflow-y: scroll;
}
#folders div {
    max-width: 300px;
    margin-right: 15px;
    margin-bottom: 15px;
}
#samples {
    vertical-align: top;
}
#samples div {
    display: inline-block;
    min-width: 150px;
    max-width: 300px;
    margin:  0 5px 5px 5px;
    vertical-align: top;
}

#open-browse-area {
    position: absolute;
    z-index: 1001;
    right: 54px;
    bottom: 74px;
    padding: 6px;
    color: #005f42;
    border: 2px solid #3df4c9;
    background-color: #3df4c9;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
#browse-area {
    width: 300px;
    top: 54px;
    right: 20px;
}
#browse-area:after {
    content  : "";
    position : absolute;
    z-index  : 1;
    bottom   : 0;
    left     : 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255,255,255, 0), rgb(61, 244, 201) 100%);
    width    : 100%;
    height   : 4em;
}
#edit-area .fa-times-circle {
    position: absolute;
    top: 16px;
    right: 16px;
}
#browse-area .fa-times-circle {
    position: absolute;
    top: 16px;
    left: 16px;
}
#edit-area .title,
#browse-area .title {
    text-align: center;
}
.line-set {
    display: grid;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 16px;
    text-align: center;
    align-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "a a b b c c";
    transition: 200ms linear;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.line-set-large{
    min-width: 100%;
    text-align: left;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a a a";
    transition: 200ms linear;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 15px;
}
.line-set-large:hover{
    background: #a0f5db;
}
.line-set > div {
  position: relative;
  margin: auto;
  align-content: center;
}
.line-set > div p {
  margin: 0;
}
.line-set > div .value {
  margin-bottom: 4px;
  font-weight: bold;
}
.line-set > div .title {
  position: absolute;
  transform: rotate(90deg) translateX(-14px) translateY(13px);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200%;
    pointer-events: none;

}
.number {
    display: block;
    font-size: small;
    width: 13px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
/*.number:after {*/
    /*content: '';*/
    /*display: block;*/
    /*position: absolute;*/
    /*background: #9af4d9;*/
    /*z-index: -1;*/
    /*width: 18px;*/
    /*height: 20px;*/
    /*border-radius: 4px 0 0;*/
    /*left: -2px;*/
    /*top: -2px;*/
/*}*/
.line-insts {
    margin-bottom: 80px;
    margin-top: 25px;
    position: relative;
}
.line-inst {
    width: 960px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 3px solid #9AF4D9;

}
.line-inst:nth-child(odd) {
    background-color: #3DF4C9;
}
.line-inst:nth-child(even) {
    /*background-color: #FC8280;*/
    background-color: #9AF4D9;
}
.line-inst-margin-top {
    margin-top: 5px;
}
.line-inst-padding {
    padding: 2px;
}
#line-tempo .title {
    position: relative;
    width: 89px;
    height: 56px;
}
#line-tempo .title p{
    margin-top: 5px;
}
#tap {
  width: 89px;
  height: 55px;
    margin-left: 28px;
}
.fas.tempo {
    position: absolute;
    top: 0;
    left: 84px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
#minus-tempo .tempo {
    margin-top: 33px;
}
#line-file div:first-child {
  margin-right: 3px;
}
#line-file > div {
  width: 89px;
  height: 55px;
}
#play {
  width: 183px;
  height: 56px;
}
#window {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#main-area {
    max-height: 84vh;
    display: block;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
#main-area > div {
    display: block;
    vertical-align: top;
}
#control-area {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "a a b b b b c c";
    position: absolute;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3df4c9;
    z-index: 1000;
    height: 118px;
}
#control-area > div > p {
    text-align: left;
}

#control-area div > div {
    display: inline-block;
    vertical-align: middle;
}
#latest-pattern {
    position: relative;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50vh;
}
#surface {
    display: block;
    margin: auto;
    width: min-content;
    width: -moz-fit-content;
}
#update-area {
    display: inline-flex;
    max-width: 1288px;
}
#update-area > div {
    margin: 0 5px;
    padding: 0 5px;
}
#inst-new > div{
    display: inline-table;
}
.inst-new-par {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 0 20px;
    height: auto;
}

div#simple-set > div {
    float: left;
}

/*.beat-8 > .button-step {width: 112px;}*/
/*.beat-7 > .button-step {width: 97px;}*/
/*.beat-6 > .button-step {width: 82px;}*/
/*.beat-5 > .button-step {width: 67px;}*/
/*.beat-4 > .button-step {width: 52px;}*/
/*.beat-3 > .button-step {width: 37px;}*/
/*.beat-2 > .button-step {width: 22px;}*/
/*.beat-1 > .button-step {width: 7px;}*/

.beat-1 > .button-step { width: calc((100% / 1) - 8px)}
.beat-2 > .button-step { width: calc((100% / 2) - 8px)}
.beat-3 > .button-step { width: calc((100% / 3) - 8px)}
.beat-4 > .button-step { width: calc((100% / 4) - 8px)}
.beat-5 > .button-step { width: calc((100% / 5) - 8px)}
.beat-6 > .button-step { width: calc((100% / 6) - 8px)}
.beat-7 > .button-step { width: calc((100% / 7) - 8px)}
.beat-8 > .button-step { width: calc((100% / 8) - 8px)}
.beat-9 > .button-step { width: calc((100% / 9) - 8px)}
.beat-10 > .button-step { width: calc((100% / 10) - 8px)}
.beat-11 > .button-step { width: calc((100% / 11) - 8px)}
.beat-12 > .button-step { width: calc((100% / 12) - 8px)}
.beat-13 > .button-step { width: calc((100% / 13) - 8px)}
.beat-14 > .button-step { width: calc((100% / 14) - 8px)}
.beat-15 > .button-step { width: calc((100% / 15) - 8px)}
.beat-16 > .button-step { width: calc((100% / 16) - 8px)}
.beat-17 > .button-step { width: calc((100% / 17) - 8px)}
.beat-18 > .button-step { width: calc((100% / 18) - 8px)}
.beat-19 > .button-step { width: calc((100% / 19) - 8px)}
.beat-20 > .button-step { width: calc((100% / 20) - 8px)}
.beat-21 > .button-step { width: calc((100% / 21) - 8px)}
.beat-22 > .button-step { width: calc((100% / 22) - 8px)}
.beat-23 > .button-step { width: calc((100% / 23) - 8px)}
.beat-24 > .button-step { width: calc((100% / 24) - 8px)}
.beat-25 > .button-step { width: calc((100% / 25) - 8px)}
.beat-26 > .button-step { width: calc((100% / 26) - 8px)}
.beat-27 > .button-step { width: calc((100% / 27) - 8px)}
.beat-28 > .button-step { width: calc((100% / 28) - 8px)}
.beat-29 > .button-step { width: calc((100% / 29) - 8px)}
.beat-30 > .button-step { width: calc((100% / 30) - 8px)}
.beat-31 > .button-step { width: calc((100% / 31) - 8px)}
.beat-32 > .button-step { width: calc((100% / 32) - 8px)}
.beat-33 > .button-step { width: calc((100% / 33) - 8px)}
.beat-34 > .button-step { width: calc((100% / 34) - 8px)}
.beat-35 > .button-step { width: calc((100% / 35) - 8px)}
.beat-36 > .button-step { width: calc((100% / 36) - 8px)}
.beat-37 > .button-step { width: calc((100% / 37) - 8px)}
.beat-38 > .button-step { width: calc((100% / 38) - 8px)}
.beat-39 > .button-step { width: calc((100% / 39) - 8px)}
.beat-40 > .button-step { width: calc((100% / 40) - 8px)}
.beat-41 > .button-step { width: calc((100% / 41) - 8px)}
.beat-42 > .button-step { width: calc((100% / 42) - 8px)}
.beat-43 > .button-step { width: calc((100% / 43) - 8px)}
.beat-44 > .button-step { width: calc((100% / 44) - 8px)}
.beat-45 > .button-step { width: calc((100% / 45) - 8px)}
.beat-46 > .button-step { width: calc((100% / 46) - 8px)}
.beat-47 > .button-step { width: calc((100% / 47) - 8px)}
.beat-48 > .button-step { width: calc((100% / 48) - 8px)}
.beat-49 > .button-step { width: calc((100% / 49) - 8px)}
.beat-50 > .button-step { width: calc((100% / 50) - 8px)}
.beat-51 > .button-step { width: calc((100% / 51) - 8px)}
.beat-52 > .button-step { width: calc((100% / 52) - 8px)}
.beat-53 > .button-step { width: calc((100% / 53) - 8px)}
.beat-54 > .button-step { width: calc((100% / 54) - 8px)}
.beat-55 > .button-step { width: calc((100% / 55) - 8px)}
.beat-56 > .button-step { width: calc((100% / 56) - 8px)}
.beat-57 > .button-step { width: calc((100% / 57) - 8px)}
.beat-58 > .button-step { width: calc((100% / 58) - 8px)}
.beat-59 > .button-step { width: calc((100% / 59) - 8px)}
.beat-60 > .button-step { width: calc((100% / 60) - 8px)}
.beat-61 > .button-step { width: calc((100% / 61) - 8px)}
.beat-62 > .button-step { width: calc((100% / 62) - 8px)}
.beat-63 > .button-step { width: calc((100% / 63) - 8px)}
.beat-64 > .button-step { width: calc((100% / 64) - 8px)}

.fa-2x {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    opacity: 0.8;
}