<!doctype html>
<html data-ng-app="drummachineApp">
<head>
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/toastr.min.css">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="js/lib/jquery-3.3.1.min.js"></script>
    <script src="js/lib/md5.min.js"></script>
    <script src="js/lib/pizzicato.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/toastr.min.js"></script>
    <script src="js/lib/math.min.js"></script>
     <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>
     <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-storage.js"></script>
     <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-database.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/component.js?v=3"></script>
    <script>if (window.module) module = window.module;</script>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta charset="utf-8">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>NuDrum</title>
</head>
<body data-ng-controller="DmController as d" class="fade">

<div id="navigate" class="slide-right" style="display: none;">
    <div id="folders" class="grid-area-a"></div>
    <div id="samples" class="grid-area-b"></div>
    <div id="close-navigate-area" class="grid-area-c">
        <p data-ng-click="closeNavigateArea()" class="click"><i  class="fas fa-times"></i> CLOSE</p>
        <p class="click"><a target="_blank" href="https://github.com/toboko/nudrum-drum-machine#write-rules"><i  class="fas fa-info-circle"></i> RULES</a></p>
    </div>
</div>
<div id="control-area">
        <div class="grid-area-a">
            <div id="tap" class="fa fa-circle-notch click" data-ng-click="detectTempo()"></div>
            <div id="play" class="fa fa-play click" data-ng-click="startLoop()"></div>
            <div id="minus-tempo" class="fas fa-minus-square tempo click" data-ng-click="incTempo(false)"></div>
            <div id="line-tempo" >
                <div class="title">
                    <span>{{d.tempo}} <small>BPM</small></span>
                </div>
            </div>
            <div id="plus-tempo" class="fas fa-plus-square tempo click" data-ng-click="incTempo(true)"></div>
        </div>
        <div class="grid-area-c">
            <div id="credit-area"><p><i class="fab fa-github"></i> Made by  <a href="https://github.com/toboko/nudrum-drum-machine">@toboko</a></p></div>
            <div id="open-browse-area" class="click" data-ng-click="openBrowseArea()">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div>
<div id="surface">
    <div id="edit-area" class="slide-left" style="display: none;">
        <p class="title">
            <strong>{{d.pattern[d.trkOn].inst.text}}</strong>
            <i data-ng-click="closeEditArea()" class="fas fa-times-circle"></i>
        </p>
        <div class="line-set">
            <div class="volume grid-area-a">
                <p class="title">volume</p>
                <i class="fas fa-caret-up" data-ng-click="setVolume(true, d.trkOn)"></i>
                <p class="value">{{d.pattern[d.trkOn].inst.vol}}</p>
                <i class="fas fa-caret-down" data-ng-click="setVolume(false, d.trkOn)"></i>
            </div>
            <div class="offset grid-area-b">
                <p class="title">offset</p>
                <i class="fas fa-caret-up" data-ng-click="setOffset(true, d.trkOn)"></i>
                <p class="value">{{d.pattern[d.trkOn].view}}</p>
                <i class="fas fa-caret-down" data-ng-click="setOffset(false, d.trkOn)"></i>
            </div>
            <div class="beat grid-area-c">
                <p class="title">beat</p>
                <i class="fas fa-caret-up" data-ng-click="setBeat(true, d.trkOn)"></i>
                <p class="value">{{d.pattern[d.trkOn].beat.id}}|{{d.maxoffset}}</p>
                <i class="fas fa-caret-down" data-ng-click="setBeat(false, d.trkOn)"></i>
            </div>
        </div>
        <div class="line-set">
            <div class="grid-area-a">
                <p class="title">shift</p>
                <i class="fas fa-caret-up" data-ng-click="shift(true, d.trkOn)"></i>
                <p class="value">{{d.pattern[d.trkOn].shift}}</p>
                <i class="fas fa-caret-down" data-ng-click="shift(false, d.trkOn)"></i>
            </div>
        </div>
        <div class="line-set">
            <div class="offset grid-area-b">
                <p class="click" data-ng-click="delete(d.trkOn)"><i class="fas fa-trash"></i> Delete</p>
            </div>
        </div>
    </div>
    <div id="browse-area">
        <div class="text-center">
            <p class="title">
                <strong>Save Your Pattern</strong>
                <i data-ng-click="closeBrowseArea()" class="fas fa-times-circle"></i>
            </p>
            <div class="inst-new-par step-height">
                <input id="pattern-new-name" aria-label="pattern-new-name" type="text" placeholder="Name" />
            </div>
            <div class="inst-new-par step-height">
                <div id="save" class="click"  data-ng-click="save()">
                    <p><i class="fas fa-save"></i> Save</p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="inst-new-par step-height">
                <input id="pattern-load-name" aria-label="pattern-new-name" type="text" placeholder="Pattern Code" />
            </div>
            <div class="inst-new-par step-height">
                <div id="load" class="click"  data-ng-click="load()">
                    <p><i class="fas fa-share"></i> Load</p>
                </div>
            </div>
        </div>
        <p class="title">
            <strong>Latest Patterns</strong>
        </p>
        <div id="latest-pattern"></div>
    </div>
    <div id="window">
        <div id="main-area">
            <div class="line-insts">
                <div class="line-labels">
                    <div id="set-{{d.instruments.length}}" class="box-label" data-ng-click="newInst()">
                        <p class="grid-area-c fas fa-plus open-set"></p>
                        <p class="grid-area-a name">New Instrument</p>
                    </div>
                    <div data-ng-repeat="label in d.pattern track by $index"
                         ng-init="labelIndex = $index"
                         id="set-{{labelIndex}}"
                         class="box-label">
                        <div class="fa-2x"><i class="fas fa-spinner fa-spin"></i></div>
                        <p class="grid-area-c mute" ng-click="mute(labelIndex)"><i class="fas fa-volume-up"></i></p>
                        <p class="grid-area-a name">{{label.inst.text}}  <small>{{label.beat.id}}|{{d.maxoffset}}</small></p>
                        <p class="grid-area-d clear" ng-click="clear(labelIndex)"><i class="fas fa-cut"></i></p>
                        <p class="grid-area-e clear" ng-click="copy(labelIndex)"><i class="fas fa-copy"></i></p>
                        <p class="grid-area-f clear" ng-click="paste(labelIndex)"><i class="fas fa-paste"></i></p>
                        <p class="grid-area-g edit" ng-click="select(labelIndex)"><i class="open-set"></i> Edit</p>
                    </div>
                </div>
                <div id="inst-new" class="line-inst line-inst-margin-top line-inst-padding">
                    <div class="line-steps line-steps-height">
                        <div class="inst-new-par step-height">
                            <input id="inst-new-name" aria-label="inst-new-name" type="text" placeholder="Name" />
                        </div>
                        <div  id="browse-new-sample" class="inst-new-par step-height">
                            <strong class="click" data-ng-click="openNavigateArea()">Sound Library <i class="fas fa-folder-open"></i></strong><br>
                            <small>{{d.sampleOn}}</small>
                        </div>
                    </div>
                </div>
                <div id="inst-{{$index}}" class="line-inst line-inst-margin-top line-inst-padding"
                     data-ng-repeat="inst in d.pattern track by $index"
                     ng-init="instIndex = $index">
                    <div class="line-steps line-steps-height beat-{{inst.beat.offset}}">

                        <div  data-ng-repeat="step in inst.steps track by $index"
                              ng-init="stepIndex = $index"
                              data-ng-click="selectStep(instIndex, stepIndex)"
                              id="step-{{stepIndex + 1}}"
                              class="button-step step-height"
                              on-last-repeat>
                            <span class="number">{{stepIndex + 1}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
