<!doctype html>
<html data-ng-app="drummachineApp">
<head>
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/toastr.min.css">
    <script src="js/lib/jquery-3.3.1.min.js"></script>
    <script src="js/lib/md5.min.js"></script>
    <script src="js/lib/pizzicato.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/toastr.min.js"></script>
    <meta charset="utf-8">
    <title>NuDrum</title>
</head>
<body data-ng-controller="DmController as d" class="fade">
<div id="open-browse-area" style="display: none;" class="slide-right click" data-ng-click="openBrowseArea()"><i class="fas fa-ellipsis-v"></i> PATTERN</div>
<div id="credit-area"><p><i class="fab fa-github"></i> Made by  <a href="https://github.com/toboko/NuDrum">@toboko</a></p></div>
<div id="donate-area"><p><a  href="https://www.paypal.me/NicolaBombaci"><i class="fas fa-heart"></i> Donate if you like </a></p></div>

<div id="navigate" class="slide-right" style="display: none;">
    <div id="folders" class="grid-area-a"></div>
    <div id="samples" class="grid-area-b"></div>
    <div id="close-navigate-area" data-ng-click="closeNavigateArea()" class="grid-area-c">
        <p class="click"><i  class="fas fa-times"></i> CLOSE</p>
    </div>
</div>
<div id="surface">
    <div id="edit-area">
        <p class="title">
            <strong>{{d.pattern[d.trkOn].inst.text}}</strong>
            <i data-ng-click="closeEditArea()" class="fas fa-times-circle"></i>
        </p>
        <div class="line-set">
            <div class="volume grid-area-a">
                <p class="title">volume</p>
                <i class="fas fa-caret-up" data-ng-click="setVolume(true, d.trkOn)"></i>
                <p class="value">{{d.pattern[d.trkOn].inst.vol}}</p>
                <i class="fas fa-caret-down" data-ng-click="setVolume(false, d.trkOn)"></i>
            </div>
            <div class="offset grid-area-b">
                <p class="title">offset</p>
                <i class="fas fa-caret-up" data-ng-click="setOffset(true, d.trkOn)"></i>
                <p class="value">{{d.pattern[d.trkOn].view}}</p>
                <i class="fas fa-caret-down" data-ng-click="setOffset(false, d.trkOn)"></i>
            </div>
            <div class="beat grid-area-c">
                <p class="title">beat</p>
                <i class="fas fa-caret-up" data-ng-click="setBeat(true, d.trkOn)"></i>
                <p class="value">{{d.pattern[d.trkOn].beat.id}}</p>
                <i class="fas fa-caret-down" data-ng-click="setBeat(false, d.trkOn)"></i>
            </div>
        </div>
        <div class="line-set">
            <div class="offset grid-area-b">
                <p class="click" data-ng-click="delete(d.trkOn)"><i class="fas fa-trash"></i> Delete</p>
            </div>
        </div>
    </div>
    <div id="browse-area">
        <div class="text-center">
            <p class="title">
                <strong>Save Your Pattern</strong>
                <i data-ng-click="closeBrowseArea()" class="fas fa-times-circle"></i>
            </p>
            <div class="inst-new-par step-height">
                <input id="pattern-new-name" aria-label="pattern-new-name" type="text" placeholder="Name" />
            </div>
            <div class="inst-new-par step-height">
                <div id="save" class="click"  data-ng-click="save()">
                    <p><i class="fas fa-save"></i> Save</p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="inst-new-par step-height">
                <input id="pattern-load-name" aria-label="pattern-new-name" type="text" placeholder="Pattern Code" />
            </div>
            <div class="inst-new-par step-height">
                <div id="load" class="click"  data-ng-click="load()">
                    <p><i class="fas fa-share"></i> Load</p>
                </div>
            </div>
        </div>
        <p class="title">
            <strong>Latest Patterns</strong>
        </p>
        <div id="latest-pattern"></div>
    </div>
    <div id="window">
        <div id="main-area">
            <div class="line-units">
                <div ng-repeat="n in [] | range:16" class="unit">
                    <span>
                        <strong ng-if="n > 9" class="right-max">{{$index + 1}}</strong>
                        <strong ng-if="n <= 9" class="right-min">{{$index + 1}}</strong>
                        <br>|
                    </span>
                </div>
            </div>
            <div class="line-insts">
                <div class="line-labels">
                    <div data-ng-repeat="label in d.pattern track by $index"
                         ng-init="labelIndex = $index"
                         id="set-{{labelIndex}}"
                         class="box-label">
                        <p class="grid-area-a name">{{label.inst.text}}</p>
                        <p class="grid-area-c mute" ng-click="mute(labelIndex)"><i class="fas fa-volume-up"></i></p>
                        <p class="grid-area-d clear" ng-click="clear(labelIndex)"><i class="fas fa-broom"></i></p>
                        <p class="grid-area-e edit" ng-click="select(labelIndex)"><i class="open-set"></i> Edit</p>
                    </div>
                    <div id="set-{{d.instruments.length}}" class="box-label" data-ng-click="newInst()">
                        <p class="grid-area-a"><i class="fas fa-plus open-set"></i> New Instrument</p>
                    </div>
                </div>
                <div id="inst-{{$index}}" class="line-inst line-inst-margin-top line-inst-padding"
                     data-ng-repeat="inst in d.pattern track by $index"
                     ng-init="instIndex = $index">
                    <div class="line-steps line-steps-height beat-{{inst.beat.id}}">

                        <div  data-ng-repeat="step in inst.steps track by $index"
                              ng-init="stepIndex = $index"
                              data-ng-click="selectStep(instIndex, stepIndex)"
                              id="step-{{stepIndex + 1}}"
                              class="button-step step-height"
                              on-last-repeat>
                            <span class="number">{{stepIndex + 1}}</span>
                        </div>
                    </div>
                </div>
                <div id="inst-new" class="line-inst line-inst-margin-top line-inst-padding">
                    <div class="line-steps line-steps-height">
                        <div class="inst-new-par step-height">
                            <input id="inst-new-name" aria-label="inst-new-name" type="text" placeholder="Name" />
                        </div>
                        <div  id="browse-new-sample" class="inst-new-par step-height">
                            <strong class="" data-ng-click="openNavigateArea()">Sound Library <i class="fas fa-folder-open"></i></strong><br>
                            <small>{{d.sampleOn}}</small>
                        </div>
                        <div  id="inst-new-beat" class="inst-new-par step-height">
                            <strong>Beat</strong>
                            <i class="fas fa-caret-left" data-ng-click="setBeat(false)"></i>
                            <span class="value">{{d.newpattern.beat.id}}</span>
                            <i class="fas fa-caret-right" data-ng-click="setBeat(true)"></i>
                        </div>
                        <div  id="inst-new-offset" class="inst-new-par step-height">
                            <strong>Offset</strong>
                            <i class="fas fa-caret-left" data-ng-click="setOffset(false)"></i>
                            <span class="value">{{d.newpattern.view}}</span>
                            <i class="fas fa-caret-right" data-ng-click="setOffset(true)"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="control-area">
        <div id="line-tempo" class="grid-area-b">
            <div class="title">
                <p>{{d.tempo}} <br><small>BPM</small></p>
                <div id="minus-tempo">
                    <i class="fas fa-caret-down tempo" data-ng-click="incTempo(false)"></i>
                </div>
                <div id="plus-tempo">
                    <i class="fas fa-caret-up tempo" data-ng-click="incTempo(true)"></i>
                </div>
            </div>
            <div id="tap" class="white-button" data-ng-click="detectTempo()">
                <p>Tap</p>
            </div>
        </div>
        <div id="line-play" class="grid-area-c">
            <div id="play" class="white-button" data-ng-click="startLoop()">
                <p>{{d.plyTxt}}</p>
            </div>
        </div>
    </div>
    <div id="update-area"></div>
</div>
<script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
<script src="js/component.js?v=2"></script>
</body>
</html>
