<!doctype html>
<html data-ng-app="drummachineApp">
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/md5.min.js"></script>
  <script src="js/pizzicato.min.js"></script>
  <script src="js/angular.min.js"></script>
  <meta charset="utf-8">
  <title></title>
</head>
<body data-ng-controller="DmController as d">
<div id="surface">
  <div id="window">
    <div id="main-area">
      <div class="line-sets">
        <div  data-ng-repeat="instrument in d.instruments" id="set-{{$index}}"
              class="line-set">
          <div class="volume">
            <p class="title">volume</p>
            <i class="fas fa-arrow-up" data-ng-click="setVolume($index, true)"></i>
            <p class="value">{{instrument.vol}}</p>
            <i class="fas fa-arrow-down" data-ng-click="setVolume($index, false)"></i>
          </div>
          <div class="offset">
            <p class="title">offset</p>
            <i class="fas fa-arrow-up" data-ng-click="setOffset($index, true)"></i>
            <p class="value">{{d.patterns[0].verse[d.verseSelected][$index].view.y}}</p>
            <i class="fas fa-arrow-down" data-ng-click="setOffset($index, false)"></i>
          </div>
          <div class="beat">
            <p class="title">beat</p>
            <i class="fas fa-arrow-up" data-ng-click="setBeat($index, true)"></i>
            <p class="value">{{d.patterns[0].verse[d.verseSelected][$index].beat.text}}</p>
            <i class="fas fa-arrow-down" data-ng-click="setBeat($index, false)"></i>
          </div>
          <div class="label">
            <p>{{instrument.text}} <br><i class="fas fa-cog open-set"></i></p>
          </div>
        </div>
      </div>
      <div class="line-insts">
        <div id="inst-{{$index}}" class="line-inst"
             data-ng-repeat="set in d.patterns[0].verse[d.verseSelected]">
          <div class="line-steps">
            <div  data-ng-repeat="step in set.matrix track by $index"
                  data-ng-click="selectStep(set.id, $index)"
                  id="step-{{$index + 1}}"
                  class="button-step beat-8">
              <span>{{$index + 1}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="control-area">
      <p>Tempo</p>
      <div id="line-tempo">
        <div id="plus-tempo">
          <i class="fas fa-plus tempo white-button" data-ng-click="incTempo(true)"></i>
        </div>
        <div class="title white-button">
          <p>{{d.tempo}} <br><small>BPM</small></p>
          <div id="minus-tempo">
            <i class="fas fa-minus tempo white-button" data-ng-click="incTempo(false)"></i>
          </div>
        </div>
        <div id="tap" class="white-button" data-ng-click="detectTempo()">
          <p>Tap</p>
        </div>
      </div>
      <p>File</p>
      <div id="line-file">
        <div id="load" class="white-button" data-ng-click="load()">
          <p>Load</p>
        </div>
        <div id="save" class="white-button" data-ng-click="save()">
          <p>Save</p>
        </div>
      </div>
      <p>Verse</p>
      <div id="line-play">
        <div id="line-verse">
          <div id="verse-0" class="verse white-button" data-ng-click="changeVerse(0)">
            <p>A</p>
          </div>
          <div id="verse-1" class="verse white-button" data-ng-click="changeVerse(1)">
            <p>B</p>
          </div>
          <div id="verse-2" class="verse white-button" data-ng-click="changeVerse(2)">
            <p>C</p>
          </div>
        </div>
        <div id="play" class="white-button" data-ng-click="startLoop()">
          <p>{{d.statusText}}</p>
        </div>
      </div>
    </div>

  </div>
  <div id="update-area"></div>
</div>
</body>
</html>
<!-- Firebase App is always required and must be first -->
<script src="https://www.gstatic.com/firebasejs/5.5.7/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.7/firebase-database.js"></script>
<script src="component.js"></script>