@font-face {
    font-family: 'Musical Notes';
    src: url('a1.eot');
    src: url('a1.eot?#iefix') format('embedded-opentype'),
        url('a1.woff2') format('woff2'),
        url('a1.woff') format('woff'),
        url('a1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

